<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TCM Bookstore</title>
  <%- include('./module/general-link.ejs') %>
</head>

<body>
  <div class="container-fluid">
    <%- include('./module/header.ejs') %>
    <%- include('./module/nav-bar.ejs') %>

    <main class="row">
      <%- include('./module/product-list.ejs') %>
    </main>

    <%- include('./module/footer.ejs') %>
  </div>
</body>

</html>